{
  "openapi": "3.1.0",
  "info": {
    "title": "The Road to Glory — World Cup Bracket Site",
    "version": "1.0.0",
    "description": "Read-only, static publication of FIFA World Cup knockout-stage data and related machine-readable discovery documents."
  },
  "servers": [
    {
      "url": "https://worldcuparchive.net/",
      "description": "Production site"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Homepage",
        "description": "Interactive radial bracket SPA. Returns HTML by default; returns /llms.txt as text/markdown when Accept: text/markdown is requested.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "LLMs.txt summary",
        "description": "Markdown summary of the site for LLM crawlers.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/api-catalog": {
      "get": {
        "summary": "API catalog",
        "description": "RFC 9727 API catalog in application/linkset+json format.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "summary": "Agent skills discovery index",
        "description": "Agent Skills Discovery RFC v0.2.0 index.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "summary": "MCP Server Card",
        "description": "Model Context Protocol server card for agent discovery.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "OAuth 2.0 Authorization Server metadata",
        "description": "OAuth 2.0 Authorization Server discovery metadata (RFC 8414).",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "OAuth Protected Resource metadata",
        "description": "OAuth Protected Resource metadata (RFC 9728).",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "summary": "OpenID Connect discovery metadata",
        "description": "OpenID Connect Discovery metadata (OpenID.Core).",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/auth.md": {
      "get": {
        "summary": "Agent authentication documentation",
        "description": "Auth.md agent registration/authentication metadata.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
